.dashboard {
    margin-top:5rem;
    width: 100%;
}
.dashboard .dashboard-title {
    color: var(--material-ui-theme);
    text-align: center;
    font-size: clamp(2.5rem, 4vw, 7rem);
    margin: 0 auto;
}
.dashboard-componentt {
    margin: 2rem auto;
    width: 90%;
    border: 2px solid #eee;
    text-align: center;
    padding: 2rem 3rem;
}
.dashboard-componentt .component-title {
    font-size: clamp(2rem, 2.2vw, 5rem);
    width: fit-content;
    /* text-align: center; */
    position: relative;
    /* margin: 2rem auto; */
}
.dashboard-componentt .component-title:before {
    content:'';
    position: absolute;
    bottom: -5px;
    left: 0;
    height: 5px;
    border-radius: 4px;
    width: 50%;
    background-color: hotpink;
}
.dashboard-routes {
    margin: 0 auto;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.dashboard-routes a {
    color: var(--material-ui-theme);
    text-decoration: none;
    font-size: 1rem;
    font-weight: bolder;
}
.dashboard-routes a:hover {
    color: hotpink;
}
.dashboard-routes a.active {
    color: hotpink
}