#review-card {
    text-align: left;
}
#review-card .inline {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom:0.5rem
}
#review-card .authors{
    color: var(--material-ui-theme)
}
#review-card .body{
    margin-top:0.5rem;
}