.page-container {
    height: 100vh;
    height: 100dvh;
    width: 100%;
}
.cool-background-seperator {
    height: 30vh;
    height: 30dvh;
    width: 100%;
    background-color: #303554;
}
.auth-page-title {
    color: #fff;
    font-size: clamp(3rem, 3vw, 7rem);
    margin: 0;
    text-align: center;
    padding-top:50px;
    font-weight: 900;
}
.auth-container {
    width: 400px;
    margin: 0 auto;
    margin-top: 200px;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding-top:2rem;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 12px;
}
.auth-container .auth-title {
    font-size: clamp(2rem, 1.7vw, 5rem);
    position: relative;
    width: fit-content;
    margin: 0;
    margin-bottom: 1rem;
    /* padding: 1rem; */
    padding-left: 1rem;

}
.auth-container .auth-title:before {
    content: "";
    width: 50%;
    position: absolute;
    background-color: #303554;
    height: 5px;
    bottom:-6px;
    border-radius: 4px;
}
.auth-inputs {
    padding: 1rem 1rem 0 1rem;
}

.auth-container .auth-input {
    display: flex;
    flex-direction: column;
    margin-bottom:1rem;
}
.auth-container .auth-input label {
    color: #303554;
    font-weight: 700;
}
.auth-container .auth-input input {
    width: 320px;
    -webkit-appearance: none;
    padding: 7px 40px 7px 12px;
    border: 1px solid #e8eaed;
    border-radius: 5px;
    background: #fff;
    box-shadow: 0 1px 3px -2px #9098a9;
    cursor: pointer;
    font-family: inherit;
    font-size: 16px;
    transition: all 150ms ease;
    margin-bottom: 2px;
}
.auth-container .auth-input input:focus {
    outline: none;
    border-color: #275EFE;
    box-shadow: 0 0 0 2px rgba(0,119,255,0.2);
}
.auth-container .auth-input input::placeholder {
    font-size: 0.9rem;
    color: #303554;
}
.auth-container button {
    background-color: #303554;
    color: #fff;
    border-radius: 4px;
    border: 1px solid #ccc;
    padding: 0.4rem 0.7rem;
    font-weight: 700;
    cursor: pointer;
}

.auth-container button:hover {
    background-color: #fff;
    color: #303554;
    transition: 150ms ease-in;
}
.auth-container .auth-alternate {
    
    margin-block: 10px;
    font-weight: 500;

}

.auth-container .auth-alternate a {
    color: #275EFE;
    text-decoration: none;
}

.auth-container .auth-alternate a:hover {
    color: #23C4F8;
}


@media screen and (max-height:680px) {
    .auth-container {
        margin-top: 150px;
    }
}

@media screen and (max-height:590px) {

    .cool-background-seperator {
        height: 35vh;
        height: 35dvh;
    }
    .auth-container {
        margin-top: 80px;
    }
}