.book-page-container {
    
}

.book-container {
    display: flex;
    flex-direction: row;
    row-gap: 1rem;
    column-gap: 2rem;
    justify-content: center;
}
.book-container .book-image {
    max-width: 340px;
    height: auto;
    object-fit: contain;
    border: 1px solid #eee;
    border-radius: 4px;
}
.book-container .book-details .book-author {
    color:var(--material-ui-theme);
    margin-bottom: 3rem;
}
.book-container .book-details .book-detail {
    margin-top:1.5rem
}
.book-container .book-details .book-detail p {
    margin-top:5px;
}
.book-container .book-details .book-detail h4 {
    margin:0;
    padding:0;
}
