.book-page-container {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
}

.book-container {
    display: flex;
    flex-direction: row;
    row-gap: 1rem;
    column-gap: 2rem;
    justify-content: center;
}
.book-container .book-image {
    max-width: 340px;
    /* height: auto; */
    object-fit: contain;
    /* border: 1px solid #eee; */
    border-radius: 4px;
}

.book-details {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
}
