.book-image {
    max-width: 340px;
    height: auto;
    object-fit: contain;
    border: 1px solid #eee;
    border-radius: 4px;
}

.book-details {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
}

.book-detail {
    display: flex;
    flex-direction: column;
}
